:root[data-theme="light"] {
  --background-color: #90abd3;
}

:root[data-theme="dark"] {
  --background-color: #4b6e71;
}

body {
  background: var(--background-color);
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  gap: 5px 5px;
  grid-template-areas:
    "h"
    "mc"
    "f";
  text-align: center;
  justify-items: center;
  justify-self: center;
  min-height: 100vh;
  background-color: var(--background-color);
  &-header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 100px 100px;
    grid-area: h;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    width: 100vw;
    position: relative;
    &-p{
      font-size: small;
    }
  }
  &-footer{
    display: grid;
    grid-area: f;
    width: 100vw;
  }
  &-leftSidebar{
    display: grid;
  }
  &-mainContent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
  }
  &-chats{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
  }
}

.quote{
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: min-content;
  background-color: unset !important;
  p{
    display: inline-grid;
    padding: 0 7px;
    margin: 5px 0;
  }
  .author{
    color: #164da1;
  }
  .text{
    color: #ef2323;
  }
}

.form{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-row-gap: 20px;
  align-self: start;
  justify-self: center;
  border: blue 2px solid;
  padding: 25px;
  margin-top: 8px;
  border-radius: 8px;
  &-input{
    display: grid;
    height: 7vh;
    width: 45vw;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 0 10px;
  }
  &-button{
    display: grid;
    height: 7vh;
    width: 35vw;
    border: none;
    border-radius: 10px;
    font-size: 0.8em;
    justify-self: center;
    &:hover{
      outline: #ef2323 1px solid;
    }
  }
}
.css-bhp9pd-MuiPaper-root-MuiCard-root{
  background-color: unset !important;
}
.activeClass {
  color: #ef2323;
}
.chatLink{
  display: grid;
  grid-template-columns: 85% 15%;
  button{
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
  }
}
.headerMenu{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: min-content min-content min-content;
  grid-auto-columns: min-content;
  a{
    display: grid;
    padding: 5px;
    margin: 5px;
  }
}