.App {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 50px 1fr 50px;
  gap: 5px 5px;
  grid-template-areas:
    "h h h"
    "ls mc mc"
    "f f f";
  text-align: center;
  min-height: 100vh;
  background-color: #90abd3;
  &-header {
    display: grid;
    grid-area: h;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  &-footer{
    display: grid;
    grid-area: f;
  }
  &-leftSidebar{
    display: grid;
    grid-area: ls;
  }
  &-mainContent{
    display: grid;
    grid-area: mc;
  }
}

.quote{
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: min-content;
  color: #e82121;
  p{
    display: inline-grid;
    padding: 0 7px;
    margin: 5px 0;
  }
  .author{
    color: #164da1;
  }
  .text{
    color: #ef2323;
  }
}

.form{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-row-gap: 20px;
  align-self: start;
  justify-self: center;
  border: blue 2px solid;
  padding: 25px;
  margin-top: 8px;
  border-radius: 8px;
  &-input{
    display: grid;
    height: 7vh;
    width: 45vw;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 0 10px;
  }
  &-button{
    display: grid;
    height: 7vh;
    width: 35vw;
    border: none;
    border-radius: 10px;
    font-size: 0.8em;
    justify-self: center;
    &:hover{
      outline: #ef2323 1px solid;
    }
  }
}